/* $Id$ */

a.docreader-link,
a.docreader-link:hover,
a.docreader-link:link,
a.docreader-link:active,
a.docreader-link:visited {
  text-decoration: none;
  margin-left: 6px;
  color: #3333aa;
  font-weight: bold;
}


img.docreader-img {
  border-style: none;
  vertical-align: text-bottom;
}
